.backlog {
  height: calc(100vh - 123px);
  padding: 0px;
  overflow: auto;
  margin-top: -1rem;
}
.Contenedor{
	width: 75%;
	margin: auto;
	min-height: 50%;
	padding: 10px;
	margin-top: 50px;
	border:  6px groove #FF522D;
}
.thingItem {
  font-size: 100%;
  display: flex;
  box-sizing: 1px;
  padding: 1rem;
  border-bottom: 1px solid #000;
  min-height: 3rem;
  align-items: center;
  justify-content: space-between;
}
.thingItem span:first-child {
  padding-right: 1.5rem;
}
.center {
  justify-content: center;
}
.addThing a {
  color: rgb(255, 255, 255);
}
.updateThing a {
  float: right;
  color: #3e549c;
}

.deleteThing a {
  float: right;
  color: #cb3234;
}

