.backlog {
  height: calc(100vh - 123px);
  padding: 0px;
  overflow: auto;
  margin-top: -1rem;
}
.Ordenar h1{
	
		font-family: 'Luckiest Guy';
		font-weight:normal;
		font-style:normal;
		box-sizing: border-box;
		display:flex;
		top: 0;
		align-items: center;
		text-align:center !important;
		justify-content:center;
		align-self: center;
		width: 100%;
		margin-top: 0;
		position: static;
	  
}
.Ordenar button {
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.ButtonPay button{
	right: 25px;
  bottom: 25px;
  position: absolute;

}
.Ordenar button:hover {
  background-color:#eb675e;
}
.Detalles{
	width: 25%;
	margin: auto;
	height: 25%;
	padding: 10px;
	margin-top: 50px;
	border:  6px groove #FF522D;
}


.Detalles span{
	
	

}
.thingStiff {
  font-size: 100%;
  display: flex;
  box-sizing: 1px;
  padding: 1rem;
  border-bottom:  6px groove #FF522D;
  min-height: 3rem;
  align-items: center;
  justify-content: space-between;
}
.thingStiff span:first-child {
  padding-right: 1.5rem;
}
.center {
  justify-content: center;
}
.addThing a {
  color: rgb(255, 255, 255);
}
.updateThing a {
  float: right;
  color: #3e549c;
}

.deleteThing a {
  float: right;
  color: #cb3234;
}

