.backlog {
  height: calc(100vh - 123px);
  padding: 0px;
  overflow: auto;
  margin-top: -1rem;
 
}
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: local('Luckiest Guy Regular'), local('LuckiestGuy-Regular'), url(https://fonts.gstatic.com/s/luckiestguy/v10/_gP_1RrxsjcxVyin9l9n_j2hTd52.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.menu{
  margin-left: auto;
  margin-right: auto;
  outline: 6px groove #FF522D;
outline-offset: 0px;
}

.thingItem {
  font-size: 70%;
  display: flex;
  box-sizing: 1px;
  padding: 1rem;
  border-bottom:  6px groove #FF522D;
  min-height: 3rem;
  align-items: center;
  justify-content: space-between;
  
}
section{
  font-family: 'Luckiest Guy';
  font-weight:normal;
  font-style:normal;
}
.backlog img{
  width:50%;
  height:50%;
 
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: 6px groove #FF522D;
outline-offset: 0px;
}
.thingItem span:first-child {
  padding-right: 1.5rem;
}
.menu img{
  width: 150px;
} 
.center {
  justify-content: center;
}
.addThing a {
  color: #fff;
}
.updateThing a {
  color: #3e549c;
}
